ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black ;
}

li {
  float: left;
}

li a {
  display: block;
  color:white ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: black;
}

li a:hover {
 background-color:green;
}
h1{
  color:blue;
}
form{
  text-align: right;
  font-size:30px; 
}